# MacOS Specific
.DS_Store

# Python
__pycache__/
*.py[cod]

# pytest
.cache

# venv
.env
env/

# Vim tmp files
*~

# project specific
citation_extractor/data/pickles/
citation_extractor/output/

# pypi
build/
dist/

.coverage
*.egg-info/
\#*#
