citation-extractor-dependencies==0.0.0
https://github.com/mromanello/treetagger-python/archive/master.zip
https://github.com/mromanello/pyCTS/archive/master.zip
langid
docopt
citation_parser>=0.4.1
rdflib==4.2.1
nltk>=3.0.4
numpy>=1.9.2
scipy>=0.17.0
python-dateutil==2.4.2
scikit-learn>=0.16.1
